<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/testcss.css">
        <title>解析结果</title>
    </head>

    <body>
        {% comment %} <h1> 解析结果 </h1> {% endcomment %}
        <!--<p>{{json_out}}</p> -->
        {% comment %} <p> 语音识别结果: {{json_out.text}} </p>
        <p> 实体信息: </p>
        {% for attribute_name,attribute_value in json_out.mention_data.0.items %}
            <p> {{ attribute_name }}: {{ attribute_value }} </p>
        {% endfor %} {% endcomment %}
        <div class="container">
            <div class="logoandslogan">logo</div>
            <div class="text">
                <p class="header"> 语音识别结果： </p> 
                <p> &nbsp &nbsp{{json_out.text}} </p>
            </div>
            <div class="photo">photo</div>
            <div class="info">
                <p class="header"> 实体信息: </p>
                {% for attribute_name,attribute_value in json_dict.mention_data.0.items %}
                    <p> ◆{{ attribute_name }}: {{ attribute_value }} </p>
                {% endfor %} 
            </div>
        </div>

    </body>
</html>